.list__item
    cursor pointer
    padding 4px 14px
    position relative
    border-top 1px solid transparent
    border-bottom 1px solid transparent

    &:hover
        background-color white

    &_type_channels
        &:before
            content '#'
            margin-right 2px
            color $gray_text_color

    &_current
        background-color white
        border-color $border_color
        margin-right -1px

        &:after
            content ''
            display inline-block
            position absolute
            top 0
            left 0
            width 2px
            height 100%
            background-color $primary_color
