.editable-title
    display block

    &__spin
        display none

        &_visible
            display block

    &__input
        display none

        &_error
            box-shadow 0 0 0 1px red, inset 0 0 0 1px red

