.textarea
    width 100%
    height inherit
    resize none
    box-sizing border-box
    display block
    border none
    font 13px Arial
    padding 10px 15px
    outline none
    border-top: 1px solid $border-color
    background $light_gray_color
    color $black_text_color

.textarea:focus
    box-shadow inset 0 0 0 2px $primary_color
