.page
    font-family Arial, sans-serif
    height 100vh
    margin 0
    padding 0
    position relative
    font-size 1.4rem
    color #232830
    font-weight 400
    background #eee

html
    font-size 10px
