
html
    font-size 10px

.page
    position relative
    font-size 1.4rem
    font-family "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    color #232830
    font-weight 400
    margin 0
    padding 0
