.landing
    display flex
    height 100%
    padding-left 100px
    flex-direction row
    align-items center
    justify-content flex-start

    &__container
        display flex
        flex-direction column
        align-items flex-start
        justify-content center

@media screen and (max-width: 800px)
    .landing
        padding-right 100px
