.dialog
    flex 1
    display flex
    flex-flow column

    &__title
        display block
        font-weight bold
        font-size 16px

    &__description
        display block
        color #777
        font-size 13px
