.landing__login
    display inline-block
    color white
    font-size 13px
    padding 6px 20px 6px 42px
    text-decoration none
    background-color #00cca0
    border-radius 5px
    text-transform uppercase
    position relative

    &:before
        content ''
        display inline-block
        position absolute
        top 5px
        left 13px
        width 20px
        height 20px
        background url(/static/images/slack.png)
        background-size 20px
