@keyframes {screenshot-animation}
    from
        transform: translateX(100%)

    to
        transform: translateX(0)

.landing_animated
    & .landing__image
        animation screenshot-animation 1.5s
