.header__menu
    position relative
    display none
    cursor pointer
    transition all.3s ease
    width 21px
    height 2px
    margin 0 30px 0 5px
    border-radius 2px
    transform translateZ(0)

    &:before, &:after
        content ''
        position absolute
        background #fff
        display block
        height 100%
        width 100%
        transition all.3s cubic-bezier(0.63, -0.41, 0.68, 1.71)
        margin 0
        border-radius 3px

    &:before
        transform rotate(45deg)

    &:after
        transform rotate(-45deg)


@media $touch
    .header_logged .header__menu
        display inline-block
