.sidebar_left
    border-right 1px solid $border_color
    overflow-y auto

@media $touch
    .sidebar_left
        transition all.3s ease
        box-shadow 0 0 0 1000px rgba(0, 0, 0, .3)
        position absolute
        display block
        z-index 1
        left 0
