@require "_include/vars"
@require "_include/mixins"
@require "_include/functions"

$touch = "all and (max-width: 600px)"

$user_status_online_color = #69e243
$user_status_offline_color = #aaaaaa
$user_new_message_color = #f66956

// Call btn
$call_on_btn_color = #69e243
$call_off_btn_color = #f66956

// Layout
$primary_color = #383455
$accent_color = #00cca0

$border_color = #efefef
$gray_color = #fafafa
$light_gray_color = #fefefe

// Text
$black_text_color = #111111
$gray_text_color = #666666
$light_text_color = #aaaaaa
