$status-size = 10px

.avatar_status_online
    &::before
        position absolute
        right -($status-size / 2)
        bottom -($status-size / 2)
        height $status-size
        width $status-size
        border-radius 50%
        border 3px white
        background-color #2fe655
        content ''
