.user__status
    position absolute
    top 32px
    left 37px
    height 9px
    width 9px
    background $user_status_offline_color
    border 2px solid $gray_color
    border-radius 4px
    box-sizing border-box