$stats_radius = 9 / 2
$avatar_radius = 32 / 2
$status_offset = $avatar_radius + (cos(45deg) * $avatar_radius) - $stats_radius
.user__status
    position absolute
    left 13 + $status_offset px
    top 7 + $status_offset px
    height 9px
    width 9px
    background $user_status_offline_color
    border 2px solid $gray_color
    border-radius 4px
    box-sizing border-box