.chat-input__emoji-button
    position absolute
    right 0
    bottom 0
    height 50px
    width 40px

    // Временно:
    line-height 50px
    text-align center
    font-size 30px
    transition all .3s
    cursor pointer
    color: #acacac
