.list__item_type_users
    height 38px

    .user
        vertical-align middle
        width 91%

    .user__title, .user__nick
        width 146px
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
