.header
    display flex
    align-items center
    padding 13px 0
    padding-top 40px
    margin 0 auto
    width 100%
    min-height 50px
    max-width 80%
    color $primary_color
    text-transform uppercase
    font-weight bold
    box-sizing border-box

    &_closed
        .header__menu
            background #fff

            &:before, &:after
                margin-top -6px
                transform rotate(0)

            &:after
                margin-top 6px
