.dialog-controls
    display flex
    float right
    align-content space-between
    justify-content center
    height 100%

    &__call
        padding-right 13px

    &_type_channels
        display none
