.dialog__name
    display block
    color #777
    font-size 13px

    &_type_channels
        &:before
            content '#'
            margin-right 2px
            color $gray_text_color

    &_type_users
        &:before
            content '@'
            margin-right 2px
            color $gray_text_color
